

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
  
.app {
    display: flex;
}


.loading{
    height: 100vh;
    margin: 0 auto;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading span{
    font-size: 100px;
}

